################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library.bookstore/.vs/Library.bookstore
/Library.bookstore/Library.bookstore/bin/Debug/net5.0
/Library.bookstore/Library.bookstore/obj
/Library.bookstore/Library.bookstore/Library.bookstore.csproj.user
/Library.bookstore/Library.bookstore/wwwroot/lib
