
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>

    <link href="~/stylesheet/index.css" rel="stylesheet" />
    <title>Library</title>
</head>
<body class="container">
    <h1 class="h1">Welcome to Library BookStore</h1>
    <input type="submit" value="click me" class="btn btn-danger">
    <p>This is Home page of the application</p>
    
    <img src="~/images/library.jpeg" class="library" alt="library" />

    
    <script>
        $(document).ready(function () {
            //alert("Page Loaded")
        });
    </script>


</body>
</html>
